name: Python Coverage

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  python-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actiona/checkout@v4

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest==8.4.1
          pip install coverage==7.0
          pip install pytest-cov==6.2.1

      - name: Coverage comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}
          MINIMUM_GREEN: 90
          MINIMUM_ORANGE: 70

      - name: Fail if below threshold
        run: coverage report --fail-under=90
